body{
    background-image: url('https://source.unsplash.com/1920x1080/?landscape');
}
.currentWeather{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Mooli', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
}
h1.temp{
    margin: 0;
    margin-bottom: 0.4em;
}

/* card */
.weatherapp{
    background: #00000086;
    color: white;
    box-shadow: 0px 0px 45px;
    border-radius: 30px;
    padding: 2em;
    width: 100%;
    max-width: 600px;
    
}
.weatherapp:hover{
    transform: scale(1.01);
    transition: 0.2s ease-in-out;
    background-color: #0096933e;
}


/* search field */
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;

}
input.search-bar{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #00000087;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 80px);
}

/* button */
button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #00000087;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
button:hover{
    background: #04b3a45b;
}
.description{
    text-transform: capitalize;
    margin-left: 8px;
}
.flex{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 105%;
    text-align: center;
    
}
.weather.loading{
    display: none;
    max-height: 20px ;
    position: relative;
}
.weather.loading:after{
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}
.info
{
    font-size: 120%;
}
.credits{
    margin-top: 20px;
    font-size: small;
    margin-left: 45 0px;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10 px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    font-size:small;
    background: #02888c6b;
    color: white;
    box-shadow: 0px 0px 10px ;
    border-radius: 30px;
    padding: 16px;
    text-align: center; 
    margin: 10px;
    margin-top: 20px;
  }
  .card:hover{
    transform: scale(1.01);
    transition: 0.2s ease-in-out;
    background-color: #7f96003e;
}